# linear regression

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
DataFrame = pd.read_csv('./Linear Regression - Sheet1.csv')
DataFrame.head(5)

   X         Y
0  1  3.888889
1  2  4.555556
2  3  5.222222
3  4  5.888889
4  5  6.555556

In [4]:
DataFrame.describe()

                X           Y
count  300.000000  300.000000
mean   150.500000  102.215556
std     86.746758   57.842711
min      1.000000    1.888889
25%     75.750000   52.388889
50%    150.500000  102.222222
75%    225.250000  152.055556
max    300.000000  201.888889

In [5]:
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       300 non-null    int64
 1   Y       300 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 4.8 KB